@charset "UTF-8";

/* 回答はここに書いてね */
.q2_content {
  width: 940px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color:#eff3f4 ;
  padding: 20px;
}

.img_1 {
  margin: 0 20px 10px 0;
  float: left;
}

.img_2 {
  margin: 0 0 10px 20px;
  float: right;
}

.q2_text {
  font-size: 18px;
  line-height: 22px;
  /*word-break: break-all;*/
}

/* 回答はここに書いてね */
