@charset "UTF-8";

/* 回答はここに書いてね */
.q3_table {
  width: 100%;
  text-align: center;
  table-layout: fixed;
}

.q3_table th {
  background-color: #2244aa;
  color: #ffffff;
  font-size: 18px;
  line-height: 26px;
}

.q3_table td {
  font-size: 16px;
  line-height: 22px;
}

.q3_table th,td {
  border: solid #dedede 1px;
  padding: 10px;
}

.q3-body tr:nth-child(even) {
  background-color: #ecf1f2;
}

.q3-body tr:last-child {
  border-top: dashed #000 2px;
}

/* 回答はここに書いてね */
