@charset "UTF-8";

/* 回答はここに書いてね */

.textbox {
  text-align: center;
}

.text {
  display: inline-block;
}

.intext {
  width: 90px;
  background-color: #e6f2ff;
  padding: 10px 0;
}

.margin {
  margin: 0 auto;
  text-align: center;
}

.table {
  display: table;
}

.table-box {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.q6-table {
  display: inline-block;
}

.q6-text {
  background-color: #fff;
  padding: 10px;
}

.q6-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.position-box {
  position: relative
}

.position-1 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.position-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

  /* 回答はここに書いてね */