@charset "UTF-8";

/* 回答はここに書いてね */

.q8-trans {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: 500px;
  height: 333px;
  cursor: pointer;
}

.q8-img {
  transition: 0.5s;
}

.q8-trans:hover .q8-img {
  transform: scale(1.5);
}

.q8-trans:hover .q8-textbox {
  bottom: 0;
}

.q8-textbox {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  transition: 0.5s;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
}

.q8-text {
  position: absolute;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  padding: 20px;
  bottom: 0;
  left: 0;
  word-break: break-all;
}


.road {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 10px #ecf1f2 solid;
  border-top: 10px #00bcd4 solid;
  border-radius: 50%;
  animation: q8-road 1.1s infinite linear;
}

@keyframes q8-road {
  100% { 
      transform: rotate(360deg); 
  }
}



/* 回答はここに書いてね */
